node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build
electron/main
electron/preload
dist
out

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea
.vscode
.test
.vite/main/main.js
.vite/preload/preload.js
