body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #FFFFFFFF;
    font-family: "Sedan SC", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_search_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px auto 0 auto;
    gap: 80px;
}

.logo {
    width: 570px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.logo_img {
    filter: brightness(0) invert(1);
    width: 120px;
    height: 110px;
}

.logo_title {
    font-size: 40px;
    width: 355px;
    height: 75px;
    line-height: 55px;
    position: relative;
}

.logo_title:before {
    content: " ";
    background: #ffffff;
    width: 2px;
    height: 100px;
    /* линия смещена на 10px справа от текста*/
    top: 5px;
    left: -45px;
    /* включаем абсолютное позиционирование относительно блока с relative */
    position: absolute;
}

.logo_title > p {
    margin: 0;
    font-family: "Days One", sans-serif;
}


.header_search {
    display: flex;
    align-items: center;
    width: 790px;
    height: 60px;
    background-color: inherit;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
    font-size: 20px;
}

.header_search:focus-within {
    fill: #00b7ffff;
    box-shadow: 0px 5px 10px 2px rgb(0, 183, 255, 0.2);
    transition: 0.5s;
}

.header_search_image {
    margin: 8px 15px 8px 20px;
}


.header_search_input > input {
    flex-shrink: 0;
    width: 790px;
    height: 60px;
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
}


/*Search results*/

.search_result {
    margin: 0 auto;
}

.search_result > h2 {
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.header_search_mini {
    display: flex;
    align-items: center;
    padding: 6px 0;
    fill: #646464;
    border-bottom: 1px solid #646464;
}

.header_search_mini:focus-within {
    fill: #00B7FF;
    border-bottom: 1px solid #00B7FF;
    transition: 0.5s;
}

.header_search_image {
    margin: 8px;
}

.header_search_input_mini > input {
    flex-shrink: 0;
    height: 40px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    fill: #646464;
}

/*search results wrapper*/

.search_result_previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    margin: 80px auto;
}

.preview_item {
    transition: transform 0.3s ease;
}

.preview_item:hover {
    transform: scale(1.05);
}

.preview_item > img {
    width: 225px;
    height: 315px;
    border-radius: 20px;
    border: 1px solid #232121;
}

.preview_item > h2 {
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.preview_item > h3 {
    color: #646464;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}



/*Mediaplayer third page*/

.main {
    margin-top: 70px;
}

.mediaplayer_wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mediaplayer_content {
    display: flex;
    flex-direction: column;
}

.mediaplayer_content > h2 {
    font-size: 33px;
    font-weight: 300;
    margin-top: 0;
}

.mediaplayer_content > p {
    font-size: 16px;
    text-align: justify;
    font-weight: 200;
    margin-bottom: 50px;
}

.mediaplayer_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.mediaplayer_button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.mediaplayer_button > img {
    width: 20px;
    height: 25px;
    align-self: center;
    object-fit: contain;
}

.button_trailer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #646464;
    gap: 10px;
}

.button_trailer > img {
    width: 25px;
    height: 25px;
}

.button_trailer > p {
    color: #ffffff;
    font-size: 16px;
}

.button_like {
    background-color: #fc3a56;
}

.button_share {
    background-color: #3a9bfc;
}

.button_share > img , .button_like > img {
    width: 25px;
    height: 30px;
}

.rating {
    background-color: #32b231;
    text-align: center;
}

.rating > p {
    font-size: 24px;
    margin: 3px auto;
}



.seasons_container {
    margin: 80px auto;
    padding: 20px;
    background-color: inherit;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    margin-bottom: 20px;

}

.tab-button {
    padding: 10px 20px 10px 0;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: #646464;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.2s;
}

.tab-button.active {
    color: #ffffff;
}

.tab-button:hover {
    color: #ffffff;
}

/*.episode-list {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 15px;*/
/*}*/

/*.episode-item {*/
/*    border: 1px solid #232121;*/
/*    border-radius: 10px;*/
/*    padding: 15px;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
/*    text-align: center;*/
/*    width: 240px;*/
/*    height: 155px;*/
/*    !*calc(33.333% - 15px);*!*/
/*}*/

/*.episode-item img {*/
/*    width: 250px;*/
/*    height: 175px;*/
/*    border-radius: 5px;*/
/*}*/

/*.episode-item h4 {*/
/*    font-size: 18px;*/
/*    margin: 10px 0 5px;*/
/*}*/

/*.episode-item p {*/
/*    font-size: 14px;*/
/*    color: #555;*/
/*}*/

.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%; /* Увеличим ширину контейнера для размещения 10 изображений */
}

.slide {
    min-width: 20%; /* Каждое изображение занимает 20% от ширины слайдера */
    box-sizing: border-box;
    height: 400px;
}

.slide img {
    width: 90%;
    display: block;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 35%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.series_desc {
    font-size: 18px;
}

.season_num {
    font-size: 16px;
}

/*Adaptive*/

@media screen and (max-width: 850px) {
    .logo {
        width: 380px;
        height: 90px;
    }

    .logo_img {
        width: 80px;
        height: 70px;
    }

    .logo_title {
        font-size: 30px;
        width: 255px;
        height: 65px;
        line-height: 35px;
    }

    .logo_title:before {
        height: 70px;
        top: 5px;
        left: -20px;
    }

    .header_search {
        width: 490px;
        height: 60px;
        font-size: 16px;
    }

    .header_search_input > input {
        width: 490px;
        height: 60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 520px) {
    .logo {
        width: 250px;
        height: 70px;
    }

    .logo_img {
        width: 60px;
        height: 50px;
    }

    .logo_title {
        font-size: 18px;
        width: 155px;
        height: 35px;
        line-height: 25px;
    }

    .logo_title:before {
        height: 40px;
        top: 5px;
        left: -20px;
    }

    .header_search {
        width: 350px;
        height: 60px;
        font-size: 13px;
    }

    .header_search_input > input {
        width: 350px;
        height: 60px;
        font-size: 13px;
    }
}

